*{
margin: 0;
padding: 0;


}

body{
    width: 100vw;
    height: 100vh;
    background-color: pink;
    }

.boasVindas{
    font-family: 'Pixelify Sans', sans-serif;
    font-weight:600;
    font-size: 4em;
}

.texto >p{

    font-family: 'Pixelify Sans', sans-serif;
font-weight: 400;
font-size: 1.5em;
}

.texto b{
   color: blueviolet;
}


.boasVindas>b{

color: rgb(57, 10, 99);

}

.boasVindas{

  
}
.texto{
margin: 2%;
justify-content: left;
display: flex;
flex-direction: column;
width: 70%;

}

.player{
    justify-content: right;
    display: flex;
    margin: 5%;
justify-content: space-around;
    width: 30%;
    

}

.player img{

    max-height: 10%;
}

.topo{

    display: flex;
    flex-direction: row;

    width: 100vw;

}
