* {
    margin: 0;
    padding: 0;


}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 192, 243);
    overflow: hidden;
}

.fundo>video{

    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra toda a janela */
    display: none;

}

.rosa{

    background-color: pink;
}

.boasVindas {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 600;
    font-size: 4em;
}

.texto>p {

    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.texto b{
    color: #551a8b;
}





.boasVindas {}

.texto {
    
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 75vw;

    margin-left: 2%;
    
 

    

}

.player {
    justify-content: right;
    display: flex;
    justify-content: space-around;
    width: 15vw;

    


}

.player img {

    height:calc(35% - 4%);
    width: calc(35% - 4%);
  
    cursor: pointer;
    justify-content: center;
    align-items: center;

    margin-right: 2%;
   
}

.player img:hover{

    transform: scale(1.10);
}




.factos{

   
cursor: pointer;
   height: 75%;


}
.topo {

    display: flex;
    flex-direction: row;
    align-items: center;
position: relative;
margin: 2%;
    width: calc(100vw - 4%);
    height: 25vh;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
  
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
}


.facto {
    display: none;
    position: absolute;
    width: fit-content;
    /* Ajusta a largura ao tamanho do conteúdo */
    height: fit-content;
    /* Ajusta a altura ao tamanho do conteúdo */
    width: 12%;

    
}

.image-facto {
    cursor: pointer;
    width: 100%;
   
}

.facto .text {
    display: none;
    position: relative;
    font-size: 12px;
    transition: ease-in-out 0.2s;

}

.text {
    padding: 5%;
    border-style: dashed;
    background-color: aliceblue;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    
}

.facto:hover .text {
    transition: ease-in-out 1s;
    display: flex;
    transform: scale(1.05);
}




.movendo {

    position: absolute;
    animation: mover 0.5s infinite;
}

@keyframes mover {
    0% {
        transform: scale(1, 1);
    }

    10% {
        transform: scale(2, 2);
    }



}


.rodar-e-mover {


    position: absolute;
    animation: rodar 10s linear infinite;
}

.rodar-e-mover :nth-child(2){



}

@keyframes rodar{

    100% {
        transform: rotate(360deg);

    }

}


